@import "bootstrap.min.css"

.index
  margin-top 50px
  text-align center
  h1
    margin-bottom 25px

#info
  position absolute
  top 15px
  right 15px
  width 250px
  min-height 100px
  background-color rgba(255, 255, 255, 0.75)
  border-radius 5px
